Repository UniversityOfHelsinkiCS/labtool, pull requests merged in 2018-06, with the labels that each got.

#334 Cleaner layout
  backend/refresh.sh
  labtool2.0/src/components/pages/BrowseReviews.js
  labtool2.0/src/components/pages/CoursePage.js
  labtool2.0/src/components/pages/ReviewStudent.js
  labtool2.0/src/tests/__snapshots__/CoursePage.test.js.snap
  labtool2.0/src/tests/__snapshots__/ReviewStudent.test.js.snap
Labels: Sprint 3

#337 Only teachers can modify course data
  backend/server/controllers/courseinstances.js
Labels: Sprint 3, backend

#336 Can update project name and GitHub repo
  backend/server/controllers/courseinstances.js
  backend/server/controllers/login.js
  backend/server/routes/courseInstanceRouter.js
  labtool2.0/src/components/pages/CoursePage.js
  labtool2.0/src/components/pages/RegisterPage.js
  labtool2.0/src/reducers/studentInstanceReducer.js
  labtool2.0/src/services/studentinstances.js
Labels: Sprint 3, backend, frontend
